.detailArea {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.foodImg {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬*/
  align-items: center; /* 수직 가운데 정렬 */
  padding: 20px;
}

.foodDetail {
  width: 500px;
  padding: 20px;
}

.foodDetail p, h2 {
  margin-bottom: 10px;
}

.originalPrice {
  display: inline-block;
  margin-left: 5px;
  color: grey;
  text-decoration-line: line-through; /* price 취소선 */
}

.stock {
  margin-top: 10px;
}

.resButton {
  border-radius: 10px;
  border-style: none;
  background-color: white;
  border : 1px solid orangered;
  font-size: 16px;
  margin: 10px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resButton:hover {
  background-color: whitesmoke;
  transition: all 0.3s ease;
}

.resText {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.reviewArea {
  width: 1000px;
  margin: 0 auto; /* 상품 리뷰 중앙 정렬 */
  justify-content: center;
}

.reviewHeader {
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid;
  clear: both;
}