.cate1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.div10 {
    font-size: 36px;
}

.div11 {
    font-size: 16px;
}

.cate1:hover {
    background-color: white;
    color: orangered;
    border : 1px solid orangered;
    transform: scale(1.05);
}