* {
  margin: 0; /* p태그 기본 margin 제거 */
}

.area2 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #ddd; /* 경계선 추가 */
    padding: 20px;
    border-radius: 10px; /* 경계선의 모서리를 둥글게 */
  }
  
.picture img {
  width: 200px; /* 이미지 크기 조정 */
  height: auto; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
  margin-bottom: 10px; /* 이름과의 간격 */
}

.store {
  font-weight: 700; /*가게명 글씨 굵게*/
}
  
.store p, .food p {
  font-size: 14px;
  margin-bottom: 3px;
}

.price {
  font-size: 14px;
  color: grey;
  text-decoration-line: line-through; /* price 취소선 */
  margin-top: 5px; /* food 요소와의 간격 */
}

.percent {
  display: inline-block; /* 옆으로 배치 */
  font-size: 20px;
  color: orangered; /* 할인율의 글자색 */
  margin-right: 5px; /* price 요소와의 간격 */
  font-weight: bolder;
}

.saleprice {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
}

.comments {
  font-style: italic; /* 댓글 스타일 */
  font-size: 14px;
  margin-top: 10px; /* saleprice 요소와의 간격 */
  clear: both;
}